.YourOrders {
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    padding-bottom: 40px;
}

.YourOrders .empty-cart {
    width: 100%;
    padding: 40px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 64, 89);
    font-weight: 600;
}

.YourOrders .empty-cart .head {
    font-size: 180%;
    font-weight: 800;
    margin-bottom: 10px;
    color: rgb(36, 64, 89);
}

.YourOrders .empty-cart .pointer {
    font-weight: 600;
}

.YourOrders .empty-cart .pointer:hover {
    cursor: pointer !important;
    color: red !important;
    text-decoration: underline;
}

.YourOrders .empty-cart .cart-msg {
    width: 70%;
}


.YourOrders .container {
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.YourOrders .top-head {
    font-size: 180%;
    font-weight: 800;
    margin-block: 20px;
}

.YourOrders .orders .order {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(160, 160, 160);
}

.YourOrders .orders .order .top {
    padding: 8px 15px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 75%;
    color: #424242;
    background-color: #d7d7d7;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(160, 160, 160);
    border-radius: 10px 10px 0 0;
}

.YourOrders .orders .order .top .left {
    gap: 40px;
}

.YourOrders .orders .order .top .order-id span {
    font-weight: 800;
}

.YourOrders .orders .order .top .left span {
    font-size: 110%;
    font-weight: 800;
}

.YourOrders .orders .order .top .left .total-amt {
    padding: 0px;
    background-color: none;
}

.YourOrders .orders .order .middle {
    gap: 30px;
    padding: 11px 20px;
    justify-content: space-between;
    background-color: white;
}

.YourOrders .orders .order .middle .head {
    font-size: 110%;
    font-weight: 700;
}

.YourOrders .orders .order .middle .left {
    /* width: ; */
}

.YourOrders .orders .order .middle .img {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e5e5e5;
    /* width: 200px; */
    display: flex;
    justify-content: center;
    margin-right: 50px;
    align-items: center;
}

.YourOrders .orders .order .middle img {
    filter: invert(0.1);
    height: 70px;
}

.YourOrders .orders .order .middle .item-info {
    font-weight: 600;
    font-size: 90%;
}

.YourOrders .orders .order .middle .item-info .item-name:hover {
    color: red !important;
}

.YourOrders .orders .order .middle .right {
    gap: 15px;
}

.YourOrders .orders .right {
    justify-content: center;
    align-items: center;
}

.YourOrders .orders .right .track {
    width: 270px;
    padding-block: 5px;
    border-radius: 10px;
    background-color: #fed815;
    font-weight: 800;
    text-align: center;
    font-size: 90%;
    outline: solid #efc70000;
}

.YourOrders .orders .right .delete,
.YourOrders .orders .right .edit {
    width: 270px;
    padding-block: 5px;
    border-radius: 10px;
    font-weight: 800;
    text-align: center;
    border: 1px solid rgb(160, 160, 160);
    font-size: 90%;
    outline: solid rgba(240, 248, 255, 0);
}

.YourOrders .orders .right .track:hover {
    background-color: #efc700;
    outline: solid #efc70063;
    cursor: default;
}

.YourOrders .orders .right .delete:hover,
.YourOrders .orders .right .edit:hover {
    background-color: aliceblue;
    outline: solid rgb(198, 228, 255);
    border: 1px solid rgba(99, 151, 196, 0);
    cursor: pointer;
}

.YourOrders .orders .right .edit:hover {
    cursor: default;
}

.YourOrders .orders .order .order-bottom {
    gap: 50px;
    width: 100%;
    border-top: 1px solid rgb(160, 160, 160);
    padding: 10px 20px;
    font-size: 80%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.YourOrders .orders .order .order-bottom .add {
    color: rgb(81, 81, 81);
    border-radius: 0 0 10px 10px;
}

.YourOrders .orders .order .order-bottom .left {
    gap: 4px;
}

.YourOrder .primary {
    width: 90%;
    margin-inline: auto;
}
