.Cart {
    padding: 20px;
    padding-bottom: 50px;
    width: 100%;
    gap: 20px;
}

.Cart .empty-cart {
    width: 100%;
    padding: 40px 30px;
    background-color: white;
}

.Cart .empty-cart .head {
    font-size: 180%;
    font-weight: 600;
    margin-bottom: 10px;
}

.Cart .empty-cart .pointer {
    font-weight: 600;
}

.Cart .empty-cart .pointer:hover {
    cursor: pointer !important;
    color: red !important;
    text-decoration: underline;
}

.Cart .empty-cart .cart-msg {
    width: 70%;
}

/* if there are items in the cart */

.Cart .item-added {
    gap: 20px;
}

.Cart .item-added .item {
    max-width: 1100px;
    width: 100%;
    background-color: white;
    padding: 30px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Cart .item-added .item img {
    height: 100px;
}

.Cart .item-added .item .add {
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.Cart .item-added .item .add i {
    padding: 5px 6px;
    background-color: #0b9374;
    border-radius: 50px;
    font-weight: 600;
    color: white;
}