.Navbar {
    padding: 10px 20px;
    gap: 30px;
    align-items: center;
    width: 100%;
    background-color: #121920;
    color: white;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 20;
}

.Navbar img {
    height: 30px;
}

.search {
    height: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.Navbar form select {
    height: 100%;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    border: none;
    font-weight: 600;
    background-color: rgb(211, 211, 211);
    font-size: 85%;
    padding-left: 2px;
}

form .search-box {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0px !important;
    padding-inline: 10px;
}

form .search-box::placeholder {
    font-weight: 600;
    color: rgb(121, 121, 121);
}

form .icon {
    height: 100%;
    width: 55px;
    border-radius: 0 5px 5px 0;
    display: flex;
    background-color: #ffaa42;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
}

form i {
    font-size: 120%;
}

form .icon:hover {
    cursor: pointer;
    background-color: #ff9a1e;
}

form .query-items {
    position: absolute;
    color: black;
    width: 100%;
    top: 45px;
    border-radius: 5px;
    left: 0;
    padding: 5px 10px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
}

form .query-items > *:not(:first-child)::before {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid rgba(50, 50, 50, 0.311);
    top: 0px;
}

form .query-items > * {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-block: 4px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

form .query-items > *:hover {
    background-color: #ffe7c9;
    cursor: pointer;   
}

.links {
    gap: 30px;
}

.links .active {
    color: #ffaa42;
}

.links span {
    font-weight: 600;
    gap: 10px;
    color: white;
}

.links a {
    display: flex;
    flex-direction: column;
}

.links .small-text {
    font-size: 80%;
    font-weight: 400;
}

.links .big-text {
    bottom: 5px;
    white-space: pre;
}

.links .cart {
    color: white;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.links .cart i {
    top: 10px;
    font-size: 140%;
}

.no-of-items {
    width: 17px;
    height: 17px;
    padding-inline: 5px;
    border-radius: 10px;
    color: black;
    background-color: #ffaa42;
    font-size: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    right: 10px;
}
