.PageNotFound {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding-left: 170px;
    background-color: white;
}

.error404 {
    font-size: 200px;
    color: #FFBC69;
    border: 1px;
    font-family: "Monoton", cursive;
    margin-inline: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.content h2 {
    font-weight: 700;
    font-size: 37px !important;
    color: #3f2d19;
    width: 700px;
}

.content .message {
    color: #3f2d19;
    width: 500px;
    font-weight: 600;
}

.button {
    width: 300px;
    display: flex;
    padding-block: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #3f2d19;
    color: #ffffff;
    text-decoration: none;
}

.hover {
    translate: -10px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    cursor: pointer;
}

.content,
.button {
    bottom: 100px;
}
